<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="person" class="com.higgsup.intern.spring.pojo.Person" autowire="constructor">

    </bean>

    <bean id="address" class="com.higgsup.intern.spring.pojo.Address">

    </bean>

    <bean id="address1" class="com.higgsup.intern.spring.pojo.Address">

    </bean>

</beans>